<h1>User Details</h1>

<dl class="dl-horizontal">
  <dt><strong>Full name</strong></dt>
  <dd><%= @user.full_name %></dd>
  <dt><strong>Email</strong></dt>
  <dd><%= @user.email%></dd>
</dl>

<%= render 'stocks/list' %>
